/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(82, 28, 82);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h2 {
    margin: 0;
}

.signup-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: rgb(82, 28, 82);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(152, 52, 152);
}

p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

p a {
    color: rgb(50, 25, 25);
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
